{% extends "base.html" %}

{% block content %}
<div class="need-wrapper">
    
    <section class="need-header">
        <h1>The Need</h1>
        <p>Seva Mandir works with more than 500,000 people in 1,300 rural villages in southern Rajasthan. The region is hilly and semi-arid, with poor infrastructure. 84% of the population are subsistence farmers who struggle to make a living from their small landholdings. The average income of a rural farmer is £140. Increasing numbers of men migrate to distant towns to work as labourers in mining, construction or agriculture, leaving women to run the smallholdings, look after the animals, labour in the villages and look after children, many of whom have to work in the home or the fields.</p>
        <p>The area suffers from a lack of clean drinking water and toilets (open defecation is still commonly practised) and poorly functioning health and education facilities. Malnutrition is rife, particularly among young children. In this patriarchal society, women continue to face domestic violence and illiteracy and they lack socio-political and financial independence.</p>
        <p>Around 70% of the population is tribal. Tribal people, who traditionally inhabited the forest areas of India, have their own social and governance customs. They score lowest on all measures of development, lack opportunities to improve their development and frequently face discrimination.</p>
        <h1>Women</h1>
        <ul>
            <li>44% of women are married before the legal age of 18</li>
            <li>37% of married women face domestic violence</li>
            <li>76% of married women have never attended school</li>
            <li>74% of women are anaemic</li>
        </ul>
        <h1>Education</h1>
        <ul>
            <li>In Seva Mandir’s area, over half of rural children do not attend school</li>
            <li>Over a third have never been to school</li>
            <li>Rural government schools are often far from needy communities, under-resourced, under-funded or closed</li>
            <li>When children do get there, classes are large, teacher absenteeism very high, pedagogic methods poor and very little learning takes place</li>
        </ul>
          <h1>Malnutrition</h1>
        <ul>
            <li>Malnutrition is the leading cause of child mortality in India</li>
            <li>Between 40 and 50% of deaths under 5 are due to malnourishment</li>
            <li>60% of children in Seva Mandir’s work area are suffering from some form of malnutrition, with many cases being life-threatening</li>
        </ul>
        <h1>WASH</h1>
        <ul>
            <li>There is drought every 3-5 years</li>
            <li>50% of villages have contaminated water</li>
            <li>Knowledge of safe water-handling practices is poor</li>
            <li>Only about 50-60% of villages have access to clean drinking water</li>
            <li>Water-borne disease is rife</li>
            <li>20-60% of families still do not have access to a toilet</li>
        </ul>
          <h1>Natural Resources</h1>
        <ul>
            <li>95% of rural people depend on land and water for their livelihood, but this livelihood is threatened</li>
            <li>67% of the area’s land is undergoing rapid degradation and desertification</li>
            <li>84% of farmers have 2 hectares of land or less, only about half of it fit for cultivation</li>
            <li>Most families cannot produce enough food grains to last them for the whole year</li>
        </ul>
           <h1>Citizenship and Enpowerment</h1>
        <ul>
            <li>Many of the tribal communities Seva Mandir works with are among the most deprived and backward in the country</li>
            <li>Government provision of basic services is limited and inefficient, and [local government] often fails to build community solidarity</li>
            <li>Illiterate and poorly educated people are often unaware of or unable to claim their rights</li>
            <li>Women have traditionally had no voice and received little sympathy in community institutions</li>
        </ul>
    </section>
</div>

{% endblock %}